nav ul li {
  list-style: none;
  padding: 3px 7px;
  font-size: 0.7rem;
}

.left img {
  width: 120px;
}

.search {
  width: 70vw;
  margin: 10px 0;
}

.right div div {
  margin: 0;
}

.itemImg {
  width: 27vw;
}

footer {
  font-size: 0.8rem;
}
